/* Elements */
* {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

footer {
    align-items: center;
    text-align: center;
    color: #1b1b1b;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    font-style: italic;
    background-color: #F39C12;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #f7b750
}

body {
    background-color: #F39C12;
    justify-content: center;
    display: flex;
}

img {
    height: 100px
}

strong {
    font-weight: 18000;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/* ID Selectors */
#container {

    margin-top: 50px;
    display: flex;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #f7b750;
    width: 500px;
    height: 1000px;
}

/* class Selectors */
.inside-container {
    justify-content: center;
    width: 350px;
    height: 400px;
}

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F39C12;
    border: none;
    border-radius: 10px;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;

    transform: translateY(4px);
}

.test-flex {
    display: flex;
    flex-direction: row;
}